*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


h1{
    color: rgb(243, 245, 245);
    text-align: center; 
    padding: 2px;
} 
p{
    color: aliceblue; 
    text-align: center; 
} 
.blue-bg{ 
    background-color: rgb(7, 7, 64); 
    border: 10px; 
    margin: 30px; 
    padding: 40px; 
    border-radius: 10px;
} 
.b{
    color: azure;
} 
.s{
    color: azure;
} 
.f{
    color: aqua;
}


